name: Run all the unit tests

on:
  push:
    branches: [ main, initial-submission ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Run tests
      run: |
        bash scripts/install_all_and_run_tests.sh
